		<!-- <h1>articles</h1> -->
		<div>
			<%= form_for :article, url: articles_path do |f| %>
				<!-- <%= f.label :url %> &nbsp; -->
				<%= f.text_field :url, class:"textbox1", value:"Adres URL" %>&nbsp;
				<br><%= f.submit 'Dodaj', class:"button2" %></br>
			<% end %>
		</div>
		<div id="list">
			<% if @articles.size == 0 %>
			<h4>
				Brak zaindeksowanych adresów
			</h4>
			<% else %>
			<ul>
				<% @articles.each do |article| %>
					<li><%= article.url %> <%= button_to "Usuń", article, method: :delete, style: "display: inline" %></li>
				<% end %>
				</ul>
			<% end %>
		</div>
