
<!-- <h1>articles</h1> -->
		

<div id="content">

	Podaj adres URL strony, którą chcesz zaindeksować

</div>
		
		<div>
			<%= form_for :article, url: articles_path do |f| %>
				<!-- <%= f.label :url %> &nbsp; -->
				<%= f.text_field :url, class:"textbox", value:"Adres URL" %>
				<br><%= f.submit 'Dodaj', class:"button" %></br>
			<% end %>
		</div>
		<div id="list">
			<% if @articles.size == 0 %>
			<h4>
				Brak zaindeksowanych adresów
			</h4>
			<% else %>
			<ul>
				<% @articles.each do |article| %>

					<li><%= article.url %> <%= button_to "Usuń", article, method: :delete, style: "display: inline" %></li>

		
						
					

				<% end %>
				</ul>
			<% end %>
		</div>