		<!DOCTYPE html>
<html>
<head>
  <title>MeshPl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
	<div id="container1">
		<div id="header">
			<h1>MeSH-pl</h1>
		</div>
		
		<div id="menu">
			<ul><li><%= link_to 'Strona główna', root_path %></li>
			<li><%= link_to 'Zaindeksowane strony', articles_path(@articles) %></li>
			<li><%= link_to 'Baza słów kluczowych', keywords_path(@keywords) %></li>
			<li><%= link_to 'Indeksowanie stron', indexing_path() %></li>
			<li><%= link_to 'Wyszukiwanie po słowach kluczowych', articles_search_path() %></li>
			</>
		</div>
	</div>		

<%= yield %>
		<div id="footer">
			Maciej Kaczor, 106617
			<br>Agnieszka Szulc, 106526</br>
		</div>
</div>
		</body>
</html>